<form action="">
    <h2>Register new product</h2>
    <div>
        <label for="">Name product</label>
        <input type="text" name="title" id="" [(ngModel)] = "title"> {{title}}
    </div>
    <div>
        <label for="">Price</label>
        <input type="text" name="price" id="" [(ngModel)] = "price">
    </div>
    <div>
        <label for="">quantity</label>
        <input type="text" name="title" id="" [(ngModel)] = "quantity">
    </div>

    <input type="submit" value="Create">









</form>
